* {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: 'cordel';
    src: url(fontes/Cordel\ Encarnado\ II.otf)
}

@font-face {
    font-family: 'cordel2';
    src: url(fontes/xilosa_.ttf)
}

#cabecalho {
    max-width: 100vw;
    height: 200px;
    background-color: rgb(228, 228, 0);
    color: black;
    
}

#titulo {
    padding-top: 60px;
    text-align: center;
    font-family: 'cordel', Arial, Helvetica, sans-serif;
    font-size: 66px;
}

#autor {
    padding-top: 10px;
    text-align: center;
    font-family: 'cordel', Arial, Helvetica, sans-serif;
    font-size: 20px;
}

#corpo {
    text-align: left;
    font-family: 'cordel2', Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin-top: 20px;
}

footer {
    max-width: 100vw;
    height: 16px;
    background-color:  rgb(228, 228, 0);
    color: black;
    padding: 10px;
    text-align: center;
    font-family: 'cordel2', Arial, Helvetica, sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


#plano-de-fundo1 {
    background-color: rgba(0, 0, 0, 0.473);
    max-width: 26vw;
    margin: 16px;
    padding: 10px;
    box-shadow: 6px 2px 3px rgba(0, 0, 0, 0.452);
}

#plano-de-fundo2 {
    background-color: rgba(0, 0, 0, 0.473);;
    max-width: 26vw;
    margin: 16px;
    padding: 10px;
    box-shadow: 6px 2px 3px rgba(0, 0, 0, 0.452);
}

#imagem1 {
    background-image: url(imagens/bichoo.jpg);
    max-width: 100vw;
    height: 50vh;
    background-repeat: no-repeat;
    padding-top: 100px;
    background-size: 100% 100% cover;
    color: white;
    background-position: top;
    background-attachment: fixed;
    background-color: gray;
}

#imagem2 {
    background-image: url(imagens/flor.jpg);
    max-width: 100vw;
    height: 50vh;
    background-repeat: no-repeat;
    padding-top: 100px;
    background-size: 100% 100% cover;
    color: white;
    background-position: center;
    background-attachment: fixed;
}

#textos {
    margin-left: 20px;
}

@media screen and (max-width:1200px) {
    #plano-de-fundo1 {
        background-color: rgba(0, 0, 0, 0.473);
        max-width: 90vw;
        margin-top: 2px;
        padding: 6px;
        box-shadow: 6px 2px 3px rgba(0, 0, 0, 0.452);
    }
    
    #plano-de-fundo2 {
        background-color: rgba(0, 0, 0, 0.473);
        max-width: 90vw;
        margin-top: 2px;
        padding: 6px;
        box-shadow: 6px 2px 3px rgba(0, 0, 0, 0.452);
    }

    #imagem1 {
        max-width: 100vw;
        max-height: 36vh;
    }

    #imagem2 {
        max-width: 100vw;
        max-height: 36vh;
    }

    #titulo {
        padding-top: 30px;
        text-align: center;
        font-family: 'cordel', Arial, Helvetica, sans-serif;
        font-size: 50px;
    }
    
    #autor {
        padding-top: 6px;
        text-align: center;
        font-family: 'cordel', Arial, Helvetica, sans-serif;
        font-size: 14px;
    }

    footer {
        max-width: 100vw;
    }

    #corpo {
        font-family: 'cordel2', Arial, Helvetica, sans-serif;
        font-size: 24px;
        margin-top: 10px; 
    }

    body {
        max-width: 100vw;
        max-height: 100vh;
    }    
}