@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: 'cordel';
    src: url(fontes/Cordel\ Encarnado\ II.otf)
}

@font-face {
    font-family: 'cordel2';
    src: url(fontes/xilosa_.ttf)
}

#cabecalho {
    max-width: 100vw;
    height: 200px;
    background-color: rgb(228, 228, 0);
    color: black;
    
}

#titulo {
    padding-top: 60px;
    text-align: center;
    font-family: 'cordel', Arial, Helvetica, sans-serif;
    font-size: 66px;
    /* font-variant: small-caps; Primeira letra de cada palavra maiúscula */
    /* text-transform: uppercase; */
}

#autor {
    padding-top: 10px;
    text-align: center;
    font-family: 'cordel', Arial, Helvetica, sans-serif;
    font-size: 20px;
}

#corpo {
    text-align: left;
    font-family: 'cordel2', Arial, Helvetica, sans-serif;
    font-size: 30px;
    margin-top: 20px;
    line-height: 2em;
}

footer {
    max-width: 100vw;
    height: 16px;
    background-color:  rgb(228, 228, 0);
    color: black;
    padding: 10px;
    text-align: center;
    font-family: 'cordel2', Arial, Helvetica, sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#imagem1 {
    background-image: url(imagens/bichoo.jpg);
    max-width: 100vw;
    height: 80vh;
    background-repeat: no-repeat;
    padding-top: 60px;
    padding-bottom: 10px;
    background-size: 100% 100% cover;
    color: white;
    background-position: top;
    background-attachment: fixed;
    background-color: gray;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.568);
}

#imagem2 {
    background-image: url(imagens/flor.jpg);
    max-width: 100vw;
    height: 80vh;
    background-repeat: no-repeat;
    padding-top: 60px;
    padding-bottom: 10px;
    background-size: 100% 100% cover;
    color: white;
    background-position: center;
    background-attachment: fixed;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.568);

}

#plano-de-fundo1 {
    background-color: rgba(0, 0, 0, 0.473);
    max-width: 32vw;
    margin-left: 16px;
    padding: 10px;
    box-shadow: 6px 2px 3px rgba(0, 0, 0, 0.452);
}

#plano-de-fundo2 {
    background-color: rgba(0, 0, 0, 0.473);;
    max-width: 32vw;
    margin-left: 16px;
    padding: 10px;
    box-shadow: 6px 2px 3px rgba(0, 0, 0, 0.452);
}

#textos {
    padding-left: 30px;
}

@media screen and (max-width:1200px) {
    
    #imagem1 {
        max-width: 100vw;
        max-height: 50vh;
        padding-top: 12vh;
        padding-bottom: 0px;
    }
    
    #imagem2 {
        max-width: 100vw;
        max-height: 50vh;
        padding-top: 12vh;
        padding-bottom: 0px;
    }

    #plano-de-fundo1 {
        background-color: rgba(0, 0, 0, 0.473);
        max-width: 60vw;
        max-height: 70vh;
        margin-top: 2px;
        padding: 6px;
        box-shadow: 6px 2px 3px rgba(0, 0, 0, 0.452);
    }
    
    #plano-de-fundo2 {
        background-color: rgba(0, 0, 0, 0.473);
        max-width: 60vw;
        max-height: 70vh;
        margin-top: 2px;
        padding: 6px;
        box-shadow: 6px 2px 3px rgba(0, 0, 0, 0.452);        
    }

    #titulo {
        padding-top: 30px;
        text-align: center;
        font-family: 'cordel', Arial, Helvetica, sans-serif;
        font-size: 50px;
        max-width: 100vw;
    }
    
    #autor {
        padding-top: 6px;
        text-align: center;
        font-family: 'cordel', Arial, Helvetica, sans-serif;
        font-size: 14px;
        max-width: 100vw;

    }

    footer {
        max-width: 100vw;
    }

    #corpo {
        font-family: 'cordel2', Arial, Helvetica, sans-serif;
        font-size: 4vw;
        max-width: 100vw;
        line-height: 5vw;

        /* margin-top: 10px;  */
    }

    body {
        max-width: 100vw;
        max-height: 100vh;
    }    

    #cabecalho {
        max-width: 100vw;
    }

    #textos {
        padding-left: 20px;
        max-width: 100vw;
    }
}

